<section id="home">
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <div class=" nava fixed-top">
            <div class="container px-5 d-flex py-1 ">
                <a class="navbar-brand logo" href="#"><h4>Fokir</h4></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Testimonial</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                    </li>

                </ul>
                </div>
            </div>
        </div>

    </nav>

    <div class="home-text text-center">
        <h3>Hello i'm</h3>
        <h1>NOOR EL DEEN</h1>
        <h4>Professional Web Designer</h4>
    </div>
    

</section>