<div id="nava">
    <nav class="navbar fixed-top bg-light navbar-light navbar-expand-lg navcustom">
      <div class="container-fluid container">
        <a class="navbar-brand navcustom" href=""><img src="../../assets/Screen Shot 2022-08-17 at 6.37.05 PM.png" alt="img-fluid" class="w">
        </a>

        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav mb-2 mb-lg-0 ms-auto" >
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>

  
          <!-- <form class="d-flex my-lg-0 my-sm-3 my-xs-1" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          </form> -->
  
          <!-- <div class="icons ">
            <i class="fa-brands mx-2 fs-5 fa-facebook"></i>
            <i class="fa-brands mx-2 fs-5 fa-spotify"></i>
            <i class="fa-brands mx-2 fs-5 fa fa-instagram"></i>
            <i class="fa-brands mx-2 fs-5 fa-youtube"></i>          
          </div>
          
          <div class="log">
          <a class="mx-2 fs-6 text-decoration-none" >Login</a>
          <a class="mx-2 fs-6 text-decoration-none" >Logout</a>
          <a class="mx-2 fs-6 text-decoration-none" >Register</a>
          </div> -->
  
        </div>
      </div>
    </nav>
  </div>