.image img{
    // border-radius: 20%;
}

#home{


        background-color: #e6e6e6;
    

}

body{
    background-color: rgb(242, 242, 242);

}

p,i{
    color: gray;
}


i:hover{
    color: #333333;
}



