<body>
    <app-navbar></app-navbar>

<div id="home" class="py-5">
    <div class="container pb-5">
        <div class="row py-5">
            <div class="col-md-12 py-5">
                <div class="row d-flex py-5 justify-content-center align-items-center">
                    <div class="col-xl-3 col-xxl-3 col-md-6 col-sm-4 col-4 col-lg-4 image text-center">
                        <img src="../../assets/WhatsApp Image 2021-10-23 at 4.46.53 PM.jpeg" alt="" class="img-fluid w-75">
                    </div>
                    <div class="col-xl-5 col-xxl-4 col-md-6 col-sm-8 col-8 col-lg-5  ">
                        <h3 class="pb-1">I'm Noor EL Deen Mohammed, Professional Web Developer</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni necessitatibus mollitia nihil velit, laudantium, rem perspiciatis officia nemo hic sequi quis. Exercitationem culpa doloremque quos dolores, deleniti, eos ipsa velit enim dolor ratione tenetur. Ipsum impedit alias, ex quae sequi, aperiam, molestiae quaerat natus placeat officia a? Exercitationem, voluptas rem?</p>
                        <div class="icons py-3">

                            <a target="_blank" href="https://www.instagram.com/nooreldeen_mohammed153/">
                            <i class="fa-brands me-3 fs-3 fa-instagram"></i>
                            </a>

                            <a target="_blank" href="https://www.facebook.com/nooreldeen.mohamed.77/">
                                <i class="fa-brands me-3 fs-3 fa-facebook"></i>
                            </a>

                            <!-- <a target="_blank" href="">
                            <i class="fa-brands me-3 fs-3 fa-twitter"></i>
                            </a> -->

                            <a target="_blank" href="https://github.com/noor153">
                            <i class="fa-brands me-3 fs-3 fa-github"></i>
                            </a>

                            <a target="_blank" href="https://www.linkedin.com/in/noor-el-deen-mohammed-1b0b85211/">
                            <i class="fa-brands me-3 fs-3 fa-linkedin"></i>
                            </a>    
    
    
    
                        </div>
                    
                    </div>
                </div>
            </div>

    
    
            
        </div>
    </div>
</div>


<app-services></app-services>
<app-portfolio></app-portfolio>
<app-contact></app-contact>
<app-footer></app-footer>
</body>
