<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="faqs" class="py-5">
        <div class="container py-5">
            <div class="row d-flex justify-content-center">

                <div class="col-md-12 col-12 col-xl-6 col-lg-6 text-white mb-md-4">
                    <div class="col-lg-12 col-md-12 col-12">
                        <p class="m-0">Faqs</p>
                        <h2 class="">Frequently Questions</h2>
                    </div>
                    
                    <div class="col-lg-10 col-12 col-md-12 col-xl-8 x mt-4 justify-content-between">
                        <div class="">
                            <p class="p-2 bttn1">General</p>
                        </div>
                        <div class="">
                            <p class="p-2">Token</p>
                        </div>
                        <div class="">
                            <p class="p-2">Register</p>
                        </div>
                        <div class="">
                            <p class="p-2">Collection</p>
                        </div>
                        <div class="">
                            <p class="p-2">Execlusive</p>
                        </div>

                    </div>

                    <div class="col-xl-12 col-lg-12 col-12">
                                
                        <div class="col-lg-12 my-3 p-4 back col-12 col-md-12 col-sm-12 col-xl-9 " >
                            <h4>What is ICO Crypto? </h4>
                            <p>Don’t get shirty with me owt to do with me arse down the have 
                                it car boot happy days no biggie bevriy only aquid goods in my 
                                flat the little rotter cheeky.!</p>
                        </div>

                        <div class="col-lg-12 my-3 p-4 back col-12 col-md-12 col-sm-12 col-xl-9 ">
                            <p>What cryptocurrencies can I use to purchase?</p>
                        </div>

                        <div class="col-lg-12 my-3 p-4 back col-12 col-md-12 col-sm-12 col-xl-9" >
                            <p>How can I participate in the ICO Token sale?</p>
                        </div>

                        <div class="col-lg-12 my-3 p-4 back col-12 col-md-12 col-sm-12 col-xl-9" >
                            <p>How do I benefit from the ICO Token?</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-12 col-xl-6 col-12 col-lg-6 mt-sm-5 mt-xl-0 mt-lg-0 my-auto">
                    <img src="../../assets/img.svg" alt="" class="img-fluid">
                </div>
                
            </div>
        </div>
    </section>
</body>
</html>