<div id="contact" >
    <div class="container py-4">
        <div class="row py-5">
            <div class="col-md-12 header text-center  mx-auto">
                <h2>Contact</h2>
                <p>Get in Touch With Me To Get The Ball Rolling.</p>
            </div>
            <div class="col-md-12 mx-auto">
                <div class="row py-3">

                    <div class="col-md-2 text-center  mx-auto ">
                        <div class="py-3 ">
                            <i class="fa-solid  p-4 fs-2 fa-envelope-open-text"></i>
                            
                        </div>
                        <h5>EMAIL</h5>
                        <a class="py-2" target="_blank" href="mailto:nooreldeen153@gmail.com">nooreldeen153@gmail.com</a>

                    </div>

                    <div class="col-md-2 text-center  mx-auto">
                        <div class="py-3 ">
                            <i class="fa-solid  p-4 fs-2 fa-phone"></i>
                        </div>
                        <h5>Phone</h5>
                        <a class="py-2" target="_blank" href="tel:+201024266740">+201024266740</a>

                    </div>

                    <!-- <div class="col-md-2 text-center  mx-auto">
                        <div class="py-3 ">
                            <i class="fa-solid  p-4 fs-2 fa-map-location-dot"></i>
                        </div>
                        <h5>Address</h5>
                        <a class="py-2" target="_blank" href="">Cairo,Egypt</a>
                    </div> -->

                    <div class="col-md-2 text-center  mx-auto">
                        <div class="py-3 ">
                            <i class="fa-solid p-4 fs-2 fa-square-poll-horizontal"></i>
                        </div>
                        <h5>CV</h5>
                        <a class="py-2" target="_blank" href="../../assets/Noor El Deen Mohammed Ibrahim CV.docx" download=""> Download  </a>
                    </div>

                    <div class="col-md-2 text-center  mx-auto">
                        <div class="py-3 ">
                            <i class="fa-solid  p-4 fs-2 fa-comment-sms"></i>
                        </div>
                        <h5>SMS</h5>
                        <a class="py-2" target="_blank" href="http://wa.me/+201024266740" download> Whats ME  </a>
                    </div>


                    
                </div>
            </div>
        </div>
    </div>
</div>