<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="py-5" id="footer">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12 col-12 text-center text-white">

                    <div class="d-flex justify-content-center mb-1">
                        <img src="../../assets/Vector.svg" alt="" class="me-3">
                        <h2 class="text-white ">Cryptofield</h2>
                    </div> 

                    <div>
                        <img src="../../assets/instagram.svg" alt="" class="img-fluid m-2">
                        <img src="../../assets/twitch.svg" alt="" class="img-fluid m-2">
                        <img src="../../assets/reddit.svg" alt="" class="img-fluid m-2">
                        <img src="../../assets/twitter.svg" alt="" class="img-fluid m-2">

                        
                    </div>
                    <p class="pt-3">All Right Reserved. Designed and Developed by LabArtisan</p>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>