<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="third" class="py-5">
        <div class="container ">
            <div class="row py-4 mx-auto">
                

                <div class="col-md-7 col-lg-5 col-sm-12 col-12 text-white mx-auto">
                    <p class="my-4">Work process</p>
                    <h2 class="my-4">Crypto Working Process</h2>

                    <h6>Don’t get shirty with me owt to do with me arse down the pub have
                        it car boot happy days no biggie bevriy only aquid Im goods in my 
                        flat the little rotter cheeky.!Don’t get shirty with me owt to do with me arse down the pub have
                        it car boot happy days no biggie bevriy only aquid Im goods in my 
                        flat the little rotter cheeky.!</h6>

                       <div class="row">
                        <table class="my-4 ">
                            <tbody>
                                <tr>
                                    <td class="" ><img src="../../assets/icon.png" alt="" class="img-fluid w-75 my-3"></td>
                                    <td class="" ><h5>ico Platform</h5>
                                        <p class="size mb-2">For business which a product online
                                            product listings in the</p>
                                        </td>
                                </tr>
                                <br>
                                <tr>
                                    <td><img src="../../assets/icon2.png" alt="" class="img-fluid w-75 my-3"></td>
                                    <td class="" ><h5>Investors</h5>
                                        <p class="size mb-2">For business which a product online
                                            product listings in the</p>
                                        </td>
                                </tr>
                                <br>
                                <tr>
                                    <td><img src="../../assets/icon3.png" alt="" class="img-fluid w-75 my-3"></td>
                                    <td class="" ><h5>Investments</h5>
                                        <p class="size mb-2">For business which a product online
                                            product listings in the</p>
                                        </td>
                                </tr>


                                
                            </tbody>
                        </table>
                       </div> 

                </div>

                <div class="col-md-5 col-10 col-lg-7 col-sm-12 mx-auto my-auto">
                    <img src="../../assets/img.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</body>
</html>