<div id="portfolio"  class="">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-md-12 header text-center">
                <h2>Portfolio</h2>
                <p>Here are A Few Selected Pieces of Work.</p>
            </div>
    
            <div class="col-md-12 mx-auto ">
                <div class="row mx-auto">
                    <div class="col-10 mx-auto py-4 col-md-6 col-lg-4 " routerLink="moviedb" >
                        <div class="card bg-light">
                            <img class="card-img-top" src="../../assets/Screen Shot 2022-08-17 at 3.33.46 AM.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Movie Db Project</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a routerLink="" class="btn btn-dark">Visit it</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-10 mx-auto py-4 col-md-6 col-lg-4 " >
                        <div class="card bg-light">
                            <img class="card-img-top" routerLink="cryptoField" src="../../assets/Screen Shot 2022-08-17 at 3.27.50 AM.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">cryptoField Project</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a routerLink="cryptoField" class="btn btn-dark">Visit it</a>
                            </div>
                          </div>
                    </div>
                    
                    <div class="col-10 mx-auto py-4 col-md-6 col-lg-4 " >
                        <div class="card bg-light">
                            <img class="card-img-top" routerLink="fokir" src="../../assets/Screen Shot 2022-08-17 at 2.18.42 PM.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Fokir Project</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a routerLink="fokir" class="btn btn-dark">Visit it</a>
                            </div>
                          </div>
                    </div>
                    

<!-- 
                    <div class="col-3 child" routerLink="cryptoField">
                        <img src="../../assets/Screen Shot 2022-08-17 at 3.27.50 AM.png" class="img-fluid" alt="">
                    </div>
        
                    <div class="col-3 child" routerLink="fokir">
                        <img src="../../assets/Screen Shot 2022-08-17 at 2.18.42 PM.png" class="img-fluid" alt="">
        
                    </div> -->
                </div>

    
            </div>
        </div>
    </div>
</div>