#subscribe{
    background-color: #080C49;
}
.input-group{
    border: 1px solid white;
    border-radius: 2px;
    
}

.form-control{
    background-color: transparent;
    
}

::placeholder{
    color: white;
}