<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="py-5" id="group">
        <div class="container ">
            <div class="row d-flex justify-content-center text-center text-white">
                <div class="col-lg-6 col-12">
                    <h2 class="my-5">Initial Token Distribution</h2>
                    <img src="../../assets/Group 27.svg" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 col-12">
                    <h2 class="my-5">Sale Proceed Allocation</h2>
                    <img src="../../assets/Group 26.svg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</body>
</html>