<div id="services">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-md-12 header text-center">
                <h2>Services</h2>
                <p>These are Just Some of The Services That I Provide.</p>
            </div>
    
            <div class="col-md-10 mx-auto py-2">
                <div class="row">
                    <div class="col-md-4 child py-5 text-center">
                        <div class="py-2">
                            <i class="fa-brands  icon1 fs-1 p-4 fa-connectdevelop"></i>
                        </div>
                        <h4 class="my-2">Web Design</h4>
                        <p class="my-2">With About 2 Years of Web Design Experience, I Can Design a WebSite of Your Company</p>
                    </div>
    
                    <div class="col-md-4 child py-5 text-center">
                        <div class="py-2">

                            <i class="fa-solid fa-layer-group icon2  fs-1 p-4" ></i>
                        </div>
                        <h4 class="my-2">Web Development</h4>
                        <p class="my-2">I Use HTML/CSS and JavaScript Libraries to Make Modern and Functional Websites</p>
                    </div>
    
                    <div class="col-md-4 child py-5 text-center">
                        <div class="py-2">

                            <i class="fa-solid fa-globe icon3 fs-1 p-4"></i>
                            
                        </div>
                        <h4 class="my-2">Social Media</h4>
                        <p class="my-2">Using Social Media, I Can Help Your Brand Reach Millions Around The World</p>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</div>
