<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="second" class="py-5">
        <div class="container py-5">
            <div class="row mx-auto">
                
                <div class="col-md-5 col-lg-7 col-12 col-sm-12 mx-auto my-auto">
                    <img src="../../assets/img- 1.png" alt="" class="img-fluid">
                </div>

                <div class="second-right col-md-7 col-lg-5 col-10 text-white mx-auto">
                    <p class="my-4">WHAT IS ICO CRYPTO</p>
                    <h2 class="my-4">We've built a Platform
                        to buy and sell shares.</h2>

                    <h5>ICO Crypto is a platform for the future of funding that 
                        powering dat for the new equity blockchain.</h5>

                    <p class="my-4">While existing solutions offer to solve just one problem at a time our 
                        team is up to build a secure, useful, & easy-to-use product based on 
                        integration, and even a digital arbitration system.</p>

                    <p class="my-4">While existing solutions offer to solve just one problem at a time our 
                        private blockchain. It will include easy cryptocurrency payments 
                        integration, and even a digital arbitration system.</p>
                </div>

            </div>
        </div>
    </div>

</body>
</html>