<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="py-5" id="contact">
        <div class="container py-5">
            <div class="row d-flex justify-content-center">
                
                <header class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-white text-center">
                    <h5>
                        Contact us
                    </h5>
                    <h2>Get in Touch</h2>

                </header>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12  col-xl-12 mt-4">
                    <div class="row d-flex justify-content-center">

                        <div class="col-xl-6 text-white col-lg-6 col-md-12 col-sm-12 col-12 ">

                            <h3 class="my-2 mx-3">Contact Information</h3>
        
        
                               <div class="row">
                                <div class="col-xl-11 col-12 col-md-12 ">
                                    <table class="my-2 ">
                                        <tbody>
                                            <tr>
                                                <td><img src="../../assets/icon.svg" alt="" class="w-75"></td>
                                                <td><h5>Office address</h5>
                                                    <p class=" mb-1">Suite 1307, Level 12, Tropical Center 218 
                                                        New Elephant Road, Dhaka - 1205</p>
                                                    </td>
                                            </tr>
                                            
                                            <tr class="m-0">
                                                <td><img src="../../assets/icon2.svg" alt="" class="w-75 "></td>
                                                <td><h5>Phone number</h5>
                                                    <p class=" mb-1">+8801678170593, 01919-264687
                                                        02-9611936</p>
                                                    </td>
                                            </tr>
    
                                            <tr>
                                                <td><img src="../../assets/icon3.svg" alt="" class="w-75 "></td>
                                                <td><h5>Email address</h5>
                                                    <p class=" mb-0">support@blackfriday.com</p>
                                                    <p class=" mb-0">support@blackfriday.com</p>
                                                    </td>
                                            </tr>
                                            
                                            <tr>
                                                <td><img src="../../assets/icon4.svg" alt="" class="w-75 "></td>
                                                <td><h5>Website address</h5>
                                                    <p class=" mb-1">admincryptocurrency.com</p>
                                                    </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
 
                               </div> 
                        </div>

      
                        <div class="col-xl-6 col-lg-6 col-sm-12 col-12 text-white ">
                            <div class="row d-flex justify-content-center">

                            <div class="my-2 col-xl-11 p-5  back">

                                <div class="col-md-12 mb-3">
                                    <h5>Send us a Message</h5>

                                </div>
                                <div class="col-xl-12">
                                    <form action="" method="" name="data">

                                        <div class="row">
                                            <div class="my-2 col-xl-6">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control text-white p-2 in-back" id="name" name="name" placeholder=" Your Name">
                                                </div>
                                              </div>
                        
                                            <div class="my-2 col-xl-6">
                                                <div class="col-sm-12">
                                                    <input type="email" class="form-control text-white p-2 in-back" id="email" name="email" placeholder=" Your Email">
                                                </div>
                                              </div>
                                
                                              <div class="my-2">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control text-white p-2 in-back" id="password" name="password" placeholder=" Subject">
                                                </div>
                                              </div>
                        
                                              <div class="my-2">
                                                <div class="col-sm-12">
                                                    <textarea id="w3review" name="w3review" rows="7" class="text-white in-back p-4 pt-2 ps-3" placeholder="Your Message"></textarea>
                                                </div>
                                              </div>
                        
                                              <div class="my-2">
                                                <div>
                                                    <button type="submit" class="btn bttn1 float-start">Submit Message</button>
                                                </div>
                                              </div>
                                        </div>
 
                                    </form>
                                </div>


                            </div>



                        </div>
                        </div>


                    </div>



                </div>

                  
            </div>
        </div>
    </section>
</body>
</html>