#contact{
    background-color: #10144F;
}

.icon{
    font-size: 52px;
    border-radius: 50%;
    padding: 10px 20px;
    background-color: #10205C;
    
}

.back{
    background-color: #080C49;
}

.in-back{
    background-color: #10144F;
    width: 100%;
    border: none;
}

::placeholder{
    color: white;
    font-weight: 200;
}

h5{
    font-size: 2vw;
}
p{
    font-size: 1vw;

}

@media all and (max-width:400px) {
    h5{
        font-size: 4vw !important;
    }

    p{
        font-size: 2vw !important;
    
    }
}

