
    <section id="counter">
        <div class="container">
            <div class="row text-center area">
                
                <div class="col-md-3 itema">
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="context py-2">
                        <h3>42</h3>
                        <p>Team members</p>
                    </div>
                </div>

                <div class="col-md-3 itema">
                    <div class="icon">
                        <i class="far fa-copy"></i>
                    </div>
                    <div class="context py-2">
                        <h3>75</h3>
                        <p>Complete Projects</p>
                    </div>
                </div>

                <div class="col-md-3 itema">
                    <div class="icon">
                        <i class="fas fa-cloud-download-alt"></i>
                    </div>
                    <div class="context py-2">
                        <h3>398</h3>
                        <p>Files Downloaded</p>
                    </div>
                </div>
                
                <div class="col-md-3 itema">
                    <div class="icon">
                        <i class="fas fa-coffee"></i>
                    </div>
                    <div class="context py-2">
                        <h3>265</h3>
                        <p>Lines Of Code</p>
                    </div>
                </div>

            </div>
        </div>
    </section>