<section id="about">

    <div class="container sec py-5">
        <div class="row d-flex justify-content-evenly">

            <div class="col-md-4 offset-md-1 ">

                <div class="image-sec">

                    <div class="image">
                        <img src="../../../assets/profile.jpg" alt="">
                        
                        <div class="cover d-flex justify-content-center">

                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-google"></i></a>
                            <a href=""><i class="fab fa-github"></i></a>

                        </div>

                     </div>

                
                </div>


            </div>

             <div class="content col-md-6 mobile-space">
                
                <div class="container">
                    <div class="row d-flex">
                        <div class="col-12 col-xl-12">
                            <h2>HELLO,</h2>
                            <p class="line">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>



                    <div class="row col-12 col-xl-12 d-flex">
                        <div class="col-12  col-sm-12 col-lg-12 col-xl-5 col-md-12">
                            <div class="item py-1"><p>Name: <span>Noor EL Deen</span> </p></div>
                            <div class="item py-1"><p>Age:<span>20 years</span> </p></div>
                            <div class="item py-1"><p>Freelance: <span>Available</span> </p></div>


                        </div>
                        <div class="col-12 col-sm-12 col-lg-12 col-xl-7 col-md-12">
                            <div class="item py-1"><p>Job Title: <span>UI/UX Designer</span> </p></div>
                            <div class="item py-1"><p>Location: <span>Egypt,Cairo</span> </p></div>
                            <div class="item py-1"><p>Email: <span>Nooreldeen153@gmail.com</span> </p></div>

                        </div>
                    </div> 

                    <div>

                        <button type="button" class="btn bttn">Download CV <i class="fas fa-download"></i> </button>
                        <button type="button" class="btn bttnn">Hire Me <i class="fas fa-paper-plane"></i> </button>
                   
                    </div>
                    
                    
                </div>
          </div> 

        </div>
    </div>





</section>