<section id="contact">
        
    <div class="container">
        <div class="row pb-5">


            <div class="col-md-12">
                <div class="header text-center gridd">
                    <h2>Contact Us</h2>
                    <div class="des">
                    </div>
                </div>
            </div>




            <div class="col-md-12">



                <form action="">


                    <div class="dd m-auto">

                        <div class="d-flex justify-content-around">
                            <input type="text" name="" id="contacter_name" placeholder="Name" class="ww single">
                            <input type="email" name="" id="contacter_email" placeholder="Email" class="we single">
                        </div>

                        <div class="d-flex flex-column ">
                            <input type="text" name="" id="contacter_subject" placeholder="Subject" class="disp single">
                            <textarea data-error="Please,leave us a message." rows="4" required="required" placeholder="Message for me" class=" disp single form-control" name="message" id="form_message"></textarea>
                        </div>

                        <div class="">
                            <button type="button" class="btn bttn btt"> SEND MESSAGE </button>
                        </div>



                    </div>

                    

                </form>

            </div>

            
    </div>
    </div>





</section>
