<div id="nava">
    <nav class="navbar navbar-expand-lg navcustom">
      <div class="container-fluid">
        <a class="navbar-brand navcustom" routerLink="home">Noxe</a>

        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0 " *ngIf="login">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="movies">Movies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="tv">Tv Shows</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="people">People</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="network">Network</a>
            </li>
          </ul>
          <div class="me-auto"></div>
  
          <form class="d-flex my-lg-0 my-sm-3 my-xs-1" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          </form>
  
          <div class="icons ">
            <i class="fa-brands mx-2 fs-5 fa-facebook"></i>
            <i class="fa-brands mx-2 fs-5 fa-spotify"></i>
            <i class="fa-brands mx-2 fs-5 fa fa-instagram"></i>
            <i class="fa-brands mx-2 fs-5 fa-youtube"></i>          
          </div>
          
          <div class="log">
          <a class="mx-2 fs-6 text-decoration-none" routerLink="login" *ngIf="!login">Login</a>
          <a class="mx-2 fs-6 text-decoration-none" (click)="logout()" *ngIf="login">Logout</a>
          <a class="mx-2 fs-6 text-decoration-none" routerLink="register" *ngIf="!login">Register</a>
          </div>
  
        </div>
      </div>
    </nav>
  </div>
