<section id="footer">



    <div class="col-md-12 cont">
        
        <div class="foot-ico d-flex justify-content-center align-items-end pb-2">

            <div class="ico ">
                <a href="">
                    <i class="fab fa-facebook-f mx-2"></i>
                </a>
            </div>

            <div class="ico">
                <a href="">
                    <i class="fab fa-twitter mx-3"></i>
                </a>
            </div>

            <div class="ico">
                <a href="">
                    <i class="fab fa-google mx-2" ></i>
                </a>
            </div>

            <div class="ico">
                <a href="">
                    <i class="fab fa-github mx-3" ></i>
                </a>
            </div>



        </div>

        <div style="color: white; background-color: transparent; text-align: center;" class="foot-text">
            Copy Right 2018 © By <a style="color: #ff305b;" href="">Theme-fair</a> All Rights Reserved
        </div>



    </div>


</section>
