<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="road" class="py-5">
        <div class="container py-5 ">
            <div class="row d-flex justify-content-center">


                <header class="col-md-12 col-12 text-white text-center">
                    <h5>Road map</h5>
                    <h2>Our Road Map</h2>
                </header>

                <div class="justify-content-center text-white d-flex my-5 col-xl-7 col-12 col-sm-12 col-md-12">

                    <div class="h">
                        <div class="road-map ms-auto h d-flex">
                            <div>
                                <img src="../../assets/icon99.svg" alt="" class="img-fluid pe-4">
                            </div>
                            <div class="h p-2">
                            <h5>White Paper</h5>

                                <p>While existing solutions offer to solve just one problem
                                    team is up to build a secure, use use product based
                                    integration, and even a digital.</p>
                            </div>

                        </div>

                        <div class="road-map h d-flex">
                            <div>
                                <img src="../../assets/icon98.svg" alt="" class="img-fluid pe-4">
                            </div>
                            <div class="h p-2">
                            <h5>Launch</h5>

                                <p>While existing solutions offer to solve just one problem
                                    team is up to build a secure, use use product based
                                    integration, and even a digital.</p>
                            </div>

                        </div>

                        <div class="road-map ms-auto h d-flex">
                            <div>
                                <img src="../../assets/icon97.svg" alt="" class="img-fluid pe-4">
                            </div>
                            <div class="h p-2">
                            <h5>Money</h5>

                                <p>While existing solutions offer to solve just one problem
                                    team is up to build a secure, use use product based
                                    integration, and even a digital.</p>
                            </div>

                        </div>

                        <div class="road-map h d-flex">
                            <div>
                                <img src="../../assets/icon96.svg" alt="" class="img-fluid pe-4">
                            </div>
                            <div class="h p-2">
                            <h5>Reward</h5>

                                <p>While existing solutions offer to solve just one problem
                                    team is up to build a secure, use use product based
                                    integration, and even a digital.</p>
                            </div>

                        </div>

                      </div>
                </div>

            </div>
        </div>    

    </section>
</body>
</html>